<div>
  <h2 mat-dialog-title id="title">Welcome to Two-Up</h2>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div>
        <mat-form-field>
          <mat-label>Enter Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Select theme option</mat-label>
          <mat-select formControlName="theme">
            <mat-option value="light">Light</mat-option>
            <mat-option value="dark">Dark</mat-option>
            <mat-option value="green">Green</mat-option>
            <mat-option value="orange">Orange</mat-option>
            <mat-option value="blue">Blue</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="submit"
      (click)="onPlay()"
      [disabled]="!form.valid"
    >
      Play
    </button>
  </div>
</div>
