<!--Angular Material Card that displays the coin images and the buttons -->
<mat-card class="display-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content id="game-screen">
    <div>
      <p>
        <b
          ><span>{{ gameMessage }}</span></b
        >
      </p>
    </div>
    <!--Displays the two coin images and adds animation to the coins-->
    <div id="coin-images">
      <img
        [src]="coin1"
        class="coin"
        [ngClass]="{ 'coin-flip': isAnimating }"
      />
      <img
        [src]="coin2"
        class="coin"
        [ngClass]="{ 'coin-flip': isAnimating }"
      />
    </div>
    <div class="button-container">
      <div id="selection-buttons">
        <!--Displays the two buttons. These buttons are labeled heads and tails. Used to make selection-->
        <button
          mat-raised-button
          id="select-heads"
          (click)="playerSelected(heads)"
          [disabled]="selectDisabled"
        >
          Heads
        </button>
        <button
          mat-raised-button
          id="select-tails"
          (click)="playerSelected(tails)"
          [disabled]="selectDisabled"
        >
          Tails
        </button>
      </div>
      <div id="flip-button">
        <!--Diplays button that toss the coins adn runs the game-->
        <button
          mat-raised-button
          (click)="playRound()"
          [disabled]="tossDisabled"
        >
          Toss Coins
        </button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
