.display-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#game-screen {
  text-align: center;
}

#coin-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    margin: 5px;
    max-width: 33%;
    background-color: transparent;
  }
}

.button-container {
  margin-top: 1%;
  button {
    width: 20%;
    margin: 1%;
  }
}

#selection-buttons {
  display: flex;
  justify-content: center;
}

#flip-button {
  display: flex;
  justify-content: center;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(1800deg);
  }
  100% {
    transform: rotateX(3600deg);
  }
}

.coin-flip {
  animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  animation: flip 2s linear infinite;
  animation-fill-mode: forwards;
}
