<div
  [ngClass]="{
    light: themeSelect === 'light',
    dark: themeSelect === 'dark',
    green: themeSelect === 'green',
    orange: themeSelect === 'orange',
    blue: themeSelect === 'blue'
  }"
>
  <div class="spacer">
    <button mat-fab extended (click)="endGame()">
      <mat-icon>logout</mat-icon>
      End Game
    </button>
  </div>

  <div>
    <h1 id="title">Two-up Game</h1>
  </div>
  <div class="container">
    <div class="scoreboard">
      <app-scoreboard
        id="score"
        [results]="this.results"
        [outcome]="this.outcome"
        [name]="this.name"
        (sendScore)="sendScore($event)"
      ></app-scoreboard>
    </div>
    <div class="game">
      <app-game
        id="game"
        (gameResults)="sendResults($event.results, $event.outcome)"
      ></app-game>
    </div>
  </div>
</div>
